:root {
  --primary: hsl(172, 67%, 45%);
  --secondary: hsl(183, 100%, 15%);
  --darkerGrayishCyan: hsl(186, 14%, 43%);
  --darkGrayishCyan: hsl(184, 14%, 56%);
  --lightPrimary: hsl(185, 41%, 84%);
  --lighterPrimary: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  top: 0;
  box-sizing: border-box;
  font-family: "Space Mono";
}
body {
  font-family: "Space Mono";
}
header{
  margin: 4%;
}
footer{
  margin: 1%;
}
header, footer{
  display: flex;
  justify-content: center;
}
.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--lightPrimary);
}
.box{
  display: flex;
  justify-content: center;
  margin: 0 20%;
  padding: 1%;
  border-radius: 1rem;
  background-color: var(--lighterPrimary);
}
.left, .right {
  width: 50%;
  margin: 2%;
}
.content-right{
  background-color: var(--secondary);
  border-radius: 10px;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.tip-amount, .total-amount {
  display: flex;
  justify-content: space-between;
  color: var(--lightPrimary);
}
.tip-value, .total-value, .icon {
  display: flex;
  align-items: center;
}

input[type="number"]{
  width: 100%;
  padding: 2px 0;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  outline: none;
  border: none;
  box-sizing: border-box;
  border-radius: .5rem;
  background-color: var(--lightPrimary  );
  color: var(--secondary);
  -moz-appearance: textfield;
}
input::placeholder .custom{
  text-align: center;
  padding: 0;
}
input[type="number"]:focus {
  border-color: var(--secondary);
}
input[type="number"]:not(.custom)::-webkit-inner-spin-button,
input[type="number"]:not(.custom)::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="number"]:not(.screen-content)::-webkit-inner-spin-button,
input[type="number"]:not(.screen-content)::-webkit-outer-spin-button {
  -webkit-appearance: none;
  padding: 10px;
}
.screen-content{
  display: flex;
  background-color: var(--lightPrimary);
  border-radius: .5rem;
}
.screen-content:hover, .screen-content:focus{
  outline: 2px solid var(--primary);
}
.inputNumber{
  position: relative;
}
.inputIcon{
  height: 100%;
  width: 20px;
  align-self: center;
  z-index: 1;
}
.icon .dollar{
  width: 15px;
}
.value{
  font-size: 2.5rem;
  color: var(--lightPrimary);
}
.dollar{
  margin-left: 10px;
}
.person {
  margin-left: 10px;
}
.buttons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5rem;
}
.key{
  background-color: var(--secondary);
  border: none;
  border-radius: .5rem;
  color: white;
  font-weight: bold;
  height: 2.5rem;
  font-size: 1.2rem;
}
.key:hover, .active {
  background-color: var(--primary);
  color: var(--secondary);
}

.per-person{
  opacity: .8;
}
.head{
  margin: 0 0 5px 5px;
}
.button-head, .people-head {
  margin-top: 15px;
}
.reset{
  background-color: var(--primary);
  border: none;
  border-radius: .2rem;
  font-size: 1rem;
  padding: 5px 0;
  font-family: inherit;
  font-weight: bold;
}
.reset:hover{
  background-color: var(--lightPrimary);
}

.custom{
  background-color: var(--lightPrimary);
  color: var(--secondary);

  }
.custom:hover, .custom:focus{
  outline: 2px solid var(--primary);
  background-color: var(--lightPrimary);
}
.danger {
  outline: 2px solid red;
  border: 2px solid red;
}
input.custom::placeholder{
  color: var(--secondary);
  display: flex;
  align-items: center;
}


@media (max-width: 990px) {
  .container{
    height: 100%;
  }
  .box {
    flex-direction: column;
    margin: 10%;
  }
  .left, .right {
    width: 100%;
  }
  .content-right, .content-left{
    margin-right: 1rem;
  }
  .attribution{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 600px) {
.box {
  margin: 5%;
  }
}  
@media (max-width: 375px){
  html {
    font-size: 70%;
  }
  .container{
    height: 100vh;
    overflow-x: hidden;
  }
  .box {
    margin: 0;
  }
  .attribution{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
